@font-face {font-family: 'brandon_grotesquebold';src: url('./fonts/brandon_bld-webfont.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'brandon_grotesquelight';src: url('./fonts/brandon_light-webfont.woff') format('woff');font-weight: normal;font-style: normal;}

// Fonts
$font-text-light: 'brandon_grotesquelight';
$font-text-bold: 'brandon_grotesquebold';